<div class="categories c-cate">
  <div class="container">
    <div class="categories-left">
      <%= render "categories_left" %>
    </div>
    <div class="categories-right">
      <%= form_tag albums_path, method: :get do %>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "search music" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
