<% provide :title, "Songs" %>
<%= render "artists/manage" %>
<h1 style="text-align: center;">All Songs</h1>
<ul class="users">
  <%= render @songs %>
</ul>
<div style="margin-left: 40px;"><%= paginate @songs, theme: "twitter-bootstrap-3" %></div>
