<% provide :title, "Albums" %>
  <%= render "searchalbum" %>
<div class="content">
  <div class="container">
    <div class="albums">
      <h1>albums</h1>
    <div class="album-grids">
    <%= render @albums %>
    <div class="clearfix"> </div>
    </div>
    <%= paginate @albums, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</div>
