.div-activity{
  margin-left: 15%;
}
table.table-history, td{
  border-bottom: 1px solid green;
}
tr.history-row{
  height: 75px;
}
td.history-type{
  width: 15rem;
  text-align: center;
}
td.history-key{
  width: 50rem;
}
td.history-time{
  width: 20rem;
}
