a.download-album:hover{
  color: black;
}
.album-title{
  font-size: 2em;
}
.listened{
  float: right;
  margin-right: 10%;
  margin-top: 12px;
  font-size: 2rem;
}
.index-title{
  font-size: 1.5em;
}
.index-listened{
  float: right;
}
