@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}
.col-md-offset-3 {
  margin-left: 32%;
}
.col-md-6 {
  width: 35%;
}

/* sub-menu */
.sub-menu {
  display: none;
  position: absolute;
  background-color: #ffff;
}
.top-nav li:hover>.sub-menu {
  display: block;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid light-gray;
  }
}

/*category */
.row .sub-category {
  width: 200px;
  margin-left: 20px;
}

/* new */
.new-album {
  border: 1px solid #EEE;
  padding: 0.7em 3.5em;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffff;
  margin: 5px 0 1em 38px;
  background-color: #747474;
}

.new-items{
  margin-left: 21%;
}

.new-point {
  color: #e8adad;
}

.name-song {
  font-size: 20px;
}

.info-user {
  width: 40%;
  float: left;
  display: block;
  padding: 10px;
  margin: 0 10px;
}

.update-user {
  float: left;
  display: block;
  padding: 10px;
  margin: 10px 10px;
  background: #c8c4dc;
  border-radius: 10px;
  cursor: all-scroll;
}

.play-song {
  float: left;
  display: block;
  padding: 10px 40px;
  margin: 10px 10px;
  background: #c8c4dc;
  border-radius: 10px;
  cursor: all-scroll;
}

.title {
  padding: 10px;
  margin-left: 29px;
  border: 1px solid #EEE;
}

.image-artist {
  width: 10%;
  float: left;
  display: block;
  padding: 10px;
  margin: 0 10px;
}
.admin-see {
  clear: both;
  margin-left: 20px;
}
