@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* all */
ul{
  list-style-type: none;
}
a:hover{
  text-decoration: none;
}
.container{
  width: 80%;
}
.row{
  background-color: #ececec66;
}
audio{
  border-radius: 25px;
  border: solid 2px #2660d8;
}
/* user sidebar */
aside {
  text-align: center;
  section.user_info {
    margin-top: 20px;
    display: inline-block;
  }
  div.name {
      font-size: 3em;
      margin-left: 15px;
    }
  section {
    padding: 10px 0;
    margin-top: 20px;
    h1 {
      display: block;
      font-size: 2em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
#user_remember_me{
  width: 5%;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}
.forgot-pw{
  float: right;
}
.login, .signup{
  font-size: 8rem;
  margin-left: 30%;
}
/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    border-bottom: 1px solid #d6d4d4;
  }
}

/*category */
.row .sub-category {
  width: 200px;
  margin-left: 20px;
}

/* new */
.new-album {
  border: 1px solid #EEE;
  padding: 0.7em 3.5em;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffff;
  margin: 5px 0 1em 38px;
  background-color: #747474;
}

.new-items{
  margin-left: 21%;
}

.new-point {
  color: #e8adad;
}
.name-song {
  font-size: 2.5rem;
}

.info-user {
  width: 40%;
  float: left;
  display: block;
  padding: 10px;
  margin: 0 10px;
}

.update-user {
  float: left;
  display: block;
  padding: 10px;
  margin: 10px 10px;
  background: #c8c4dc;
  border-radius: 10px;
  cursor: all-scroll;
}

.play-song {
  float: right;
  padding: 10px 40px;
  margin: 10px 10px;
  cursor: all-scroll;
}
.download-song{
  float: right;
  margin-top: 25px;
}
.title {
  padding: 10px;
  margin-left: 29px;
  border: 1px solid #EEE;
}

.image-artist {
  width: 10%;
  float: left;
  display: block;
  padding: 10px;
  margin: 0 10px;
}
.admin-see {
  clear: both;
  margin-left: 20px;
}
.td-info{
  width: 900px;
}
.td-descrip{
  width: 500px;
}
.td-edit{
  width: 100px;
}
.card mb-3 my-table{
  width: 100%;
}
/* page 404 */
.image404{
  width: 100%;
}

/* User show */
.new-playlist{
  margin-top: 25px;
  font-size: 1.25em;
}

/* drop-down menu */
.dropdown-menu-user{
  width: 100%;
}

/* share-button */
.social-share-button .ssb-icon {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 44px 46px !important;
  display: inline-block !important;
  height: 35px !important;
  width: 35px !important;
  border-radius: 5px;
}
.social-share-button {
  float: right;
  margin-top: 5px;
  margin-right: 8px;
}

/* bang xep hang */
.rank{
  height: auto;
  padding: 5px;
  border:  1px solid #95b8ea;
  margin-bottom: 5px;
  border-radius: 10px;
  margin-left: 0px;
}
.rank-listen{
  float: right;
}
.charts{
  margin-top: 20px;
  font-size: 2rem;
  height: auto;
}
.rank:hover{
  background-image: linear-gradient(to right, #dbedf6, #33a2f2 );
}
.song-top{
  padding-left: 0px;
}
.bxh{
  color: #2660d8;
  font-size: 1.5em;
}
.artist-name{
  font-size: 1.5rem;
  color: #b7bfb7;
}
.count-listen-song{
  float: left;
  margin-top: 20px;
  margin-right: 50px;
}
