/* show songs in playlist */
li.play-list{
  font-size: 1.5em;
}
.song-in-playlist{
  background-color: rgba(231, 76, 59, 0.8);
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
}
.active a{
  color: #ffffff;
  text-decoration: none;
}
#audio{
  width: 105%;
}
ul#playlist{
  height: 250px;
  overflow-y: auto;
}
li.active div{
  background-color: black;
}
div.song-in-playlist:hover{
  background-color: #DBCECA;
}
button#next-song, button#previous-song {
  background-color: #565556;
  border-radius: 5px;
  margin-left: 6.5%;
  margin-bottom: 5px;
}
.cmt-playlist{
  margin-left: 5%;
  width: 100%;
}
