.player{
  margin-left: 10%;
}
.play-song{
  width: 90%;

}
.lyric{
  position: relative;
  width: 150%;
}
.download{
  font-size: 1.5em;
}
#new_playlist_song{
  width: 10%;
  position: relative;
}
.add-playlist{
  background-color: green;
  color: yellow;
}
.list-pls{
  display: none;
}
audio{
  border-radius: 20px;
  border: solid 2px red;
}
