<div class="categories c-cate">
  <div class="container">
    <div class="categories-left">
      <ul class="options">
        <li><%= link_to "All songs", songs_path %></li>
        <li><%= link_to "All artists", artists_path %></li>
        <li><%= link_to "All categories", categories_path %></li>
        <li><%= link_to "All albums", albums_path %></li>
      </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
