<% provide :title, "Categories" %>
  <%= render "categories/searchcategory" %>
<h1 style="text-align: center;">Categories</h1>
<ul class="users">
  <%= render @categories %>
</ul>
<div style="margin-left: 40px;"><%= paginate @categories, theme: "twitter-bootstrap-3" %></div>
