<li id="playlist-<%= playlist.id %>">
  <%= link_to gravatar_for(playlist.user, size: 20), @user %>
  <span><b><%= link_to playlist.title, user_playlist_path(current_user, playlist.id) %></b></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(playlist.created_at) %> ago.
  </span>
</li>
